<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="{{asset "css/dependencies.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/sweetalert.css"}}" />

  {{ghost_head}}
</head>

<body class="{{body_class}}">
  <section id="wrapper">
    <div id="ajax-container">
      <nav id="nav" class="nav">
        <div class="nav-logo">
          <a href="{{@blog.url}}">
            {{#if @blog.logo}}
            <img src="{{@blog.logo}}" alt="Logo" />
            {{else}}
            <span class="name">{{@blog.title}}</span>
            {{/if}}

          </a>
        </div>
        <div class="nav-logo">
          <a href="http://rocketpin.com" target="_blank">
            Ir a rocketpin.com
          </a>
        </div>

        <div class="nav-menu">
          <!-- <a class="rss" href="{{@blog.url}}/rss/">
            <a class="rss" href="{{@blog.url}}/rss/"><i class="icon-rss"></i></a>
          </a> -->
          {{#if @blog.navigation}}
          <a class="menu" data-action="menu" data-target="menu"><i class="icon-menu"></i></a>
          {{/if}}
        </div>
      </nav>
      {{{body}}}
      <div id="body-class" style="display: none;" class="{{body_class}}"></div>
      <footer id="footer">
        <section class="credits">
          <span class="credits-software">Powered by <a href="http://btechchile.com" target="_blank" rel="nofollow">Btech</a></span>
        </section>
      </footer>
      {{#if @blog.navigation}}
      {{navigation}}
      {{/if}}
    </div>
  </section>
  {{ghost_foot}}

  <script type="text/javascript" src="{{asset "js/dependencies.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/script.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/sweetalert.min.js"}}"></script>

  <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    // var config = {
    //   apiKey: "AIzaSyC5TI6TgrUp9Nu4shtpfvI6oiUwgs-00rQ",
    //   authDomain: "observatorio-rocketpin.firebaseapp.com",
    //   databaseURL: "https://observatorio-rocketpin.firebaseio.com",
    //   storageBucket: "",
    // };
    // var mainApp = firebase.initializeApp(config);'
  </script>

  <!-- FIX: no remove -->
  <input type="hidden" id="pdfUrl">

  <script charset="utf-8">

    function validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    var callbackFunc = function(inputValue){
      var host = window.location.host
      var pdfUrl = this.pdfUrl
      // var onComplete = function(error) {
      //   if (error) {
      //     return swal.showInputError("Error de conexi칩n");
      //   } else {
      //     return swal("Gracias por suscribirte!", "Te enviaremos noticias al email : " + inputValue, "success");
      //   }
      // };

      if (inputValue === false)
        return false;
      if (inputValue === "") {
        swal.showInputError("No haz ingresado tu email");
        return false
      }
      if (!validateEmail(inputValue)){
        swal.showInputError("Revisa el formato de tu email");
        return false
      }
      // mainApp.auth()
      // mainApp.database().ref('users/' + host).set({
      //   email: inputValue
      // }, onComplete);


      // perform ajax call to save email
      var post_title = $('.post-title').text
      var post_url   = window.location.href
      $.get( "https://btech-services.herokuapp.com/email/", { email: inputValue, domain: host, post_url: post_url, post_title:  post_title} )
      // $.get( "localhost:5000/email/", { email: inputValue, domain: host } )
      // .done(function( data ) {
      swal("Recibido", "Gracias por descargar el estudio. Enviaremos m치s informaci칩n al email : " + inputValue, "success");
      pdfUrl = $('#pdfUrl').text()
      if(!(typeof pdfUrl === 'undefined')){
        setTimeout(function(){window.open(pdfUrl, '_blank');}, 1000);
      }

      // })
      // .fail(function() {
      //   swal.showInputError("Error de conexi칩n");
      // });
    }
  </script>

</body>
</html>
